.homeAdmin {
    background-color: black;
    width: 100%;
    color: white;
}

* {
    font-family: "Poppins", sans-serif;
}

.homeAdmin a {
    text-decoration: none;
    color: white;
}

.homeAdmin a button {
    padding: 9px 0;
    font-size: 16px;
    font-weight: 600;
    border-radius: 20px;
    width: 300px;
    margin: 0 auto;
    border: none;
    outline: none;
    margin-top: 20px;
    display: block;
    background-color: red;
    color: white;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
    margin-bottom: 50px;
}

.homeAdmin a button:hover {
    opacity: 0.9;
    scale: 0.9;
}